
.marker-robot {
	background: url("/packages/keplerjs_robots/assets/images/sprite.svg") no-repeat;
	background-position: 0 0;
} 

/*TODO.icon-avatar-default {
	background: url("/packages/keplerjs_robots/assets/images/avatar_robot.svg") no-repeat;
}
*/